.hero{
    background-image: url('../images/bg.jpg'); 
    margin-top: 5px;
}
h2{
    font-size: 100px;
    color: white;
    text-shadow: rgb(rgb(130, 131, 131), rgb(14, 22, 14), rgb(30, 30, 214));
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.index{
    margin-top: 20px;
}
p{
    text-align: justify;
}
.card-deck {
    margin-top: 150px;
}